<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<div class="error-message">
  <%- message %>
</div>

<p>😅 Well… this is awkward. Something went wrong, but hey, at least you found this page.</p>
<p>Try using the navigation above to get back on track.</p>
